<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:van="https://github.com/VanXD/Thymeleaf-Dialect">
<head th:include="/common/common_head :: commonHeader('角色管理', '')"></head>

<body>
<div id="wrapper">
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div th:replace="/common/common_head :: contentHeader"></div>
        <div class="wrapper wrapper-content  animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <h5>角色管理</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="jqGrid_wrapper">
                                <table id="data-table-1"></table>
                                <div id="pager-table-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 添加模板模态框 -->
<div id="edit-modal-form" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 b-r">
                        <h3 class="m-t-none m-b">编辑角色</h3>
                        <form id="edit-form" role="form" action="edit.json" method="post">
                            <!-- 主键 -->
                            <input id="id" type="hidden" name="id"/>
                            <div class="form-group">
                                <label>名称</label>
                                <input id="name" name="name" type="text" placeholder="请填写角色名称" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label>角色标识</label>
                                <input id="role" name="role" type="text" placeholder="请填写角色标识" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label for="description" >描述</label>
                                <input id="description" name="description" type="text" placeholder="简要描述一下该角色" class="form-control"/>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div>
                                <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit">
                                    <strong>提交</strong>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 关联权限模态框 start -->
<div id="relation-permission-form" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 b-r">
                        <h3 class="m-t-none m-b">关联菜单</h3>
                        <div>
                            <div class="dd" id="nestable2">
                                <ol class="dd-list" id="permissions">
                                    <li v-for="entity of entities" class="dd-item">
                                        <div class="dd-row">
                                            <span class="pull-right">
                                                <input :checked="entity.checked" :id="entity.id" class="permission-icheck" type="checkbox"/>
                                            </span>
                                            <span class="label label-info"><i :class="['fa', entity.icon]"></i></span> {{ entity.name }}
                                        </div>
                                        <ol class="dd-list" :id="'sub-of-' + entity.id">
                                            <li v-for="menu of entity.subPermissions" class="dd-item" id="1">
                                                <div class="dd-row">
                                                    <span class="pull-right">
                                                        <input :checked="menu.checked" :id="menu.id" :data-parent-id="entity.id" class="permission-icheck" type="checkbox"/>
                                                    </span>
                                                    <span class="label label-info"><i :class="['fa', 'menu.icon']"></i></span> {{ menu.name }}
                                                </div>
                                                <ol class="dd-list" :id="'sub-of-' + menu.id">
                                                    <li v-for="subPerms of menu.subPermissions" class="dd-item" data-id="2">
                                                        <div class="dd-row">
                                                        <span class="pull-right">
                                                            <input :id="subPerms.id" :checked="subPerms.checked" v-on:change="relation(this, 'roleId', 'subPerms.id')" :data-parent-id="menu.id" class="permission-icheck" type="checkbox"/>
                                                        </span>
                                                        <span class="label label-info"></span> {{ subPerms.name }}
                                                        </div>
                                                    </li>
                                                </ol>
                                            </li>
                                        </ol>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 关联权限模态框 end -->
<div th:include="/common/onload_js :: onloadJS('/system/role/pageSysRole.js')"></div>
</body>
</html>
