<?xml version="1.0"?>

<persistence xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.0">
    <persistence-unit name="default" transaction-type="RESOURCE_LOCAL">
        <class>com.vanxd.data.entity.user.SysPermission</class>
        <class>com.vanxd.data.entity.user.SysRole</class>
        <class>com.vanxd.data.entity.user.SysUser</class>
        <properties>
            <property name="hibernate.max_fetch_depth" value="3" />
            <property name="hibernate.show_sql" value="true" />
            <property name="hibernate.hbm2ddl.auto" value="update"/>
            <property name="hibernate.ejb.naming_strategy" value="org.hibernate.cfg.ImprovedNamingStrategy"/>
        </properties>
    </persistence-unit>
</persistence>