<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:van="https://github.com/VanXD/Thymeleaf-Dialect">
<head th:include="/common/common_head :: commonHeader('系统用户管理', '')"></head>

<body>
<div id="wrapper">
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div th:replace="/common/common_head :: contentHeader"></div>
        <div class="wrapper wrapper-content  animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <h5>系统用户管理</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="jqGrid_wrapper">
                                <table id="data-table-1"></table>
                                <div id="pager-table-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 编辑模态框 start -->
<div id="edit-modal-form" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 b-r">
                        <h3 class="m-t-none m-b">编辑用户</h3>
                        <form id="edit-form" role="form" action="edit.json" method="post">
                            <!-- 主键 -->
                            <input id="id" type="hidden" name="id"/>
                            <div class="form-group">
                                <label for="nickname">昵称</label>
                                <input id="nickname" name="nickname" type="text" placeholder="请填写用户昵称" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label for="username">用户名</label>
                                <input id="username" name="username" type="text" placeholder="请填写用户名" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label for="password">密码</label>
                                <input id="password" name="password" type="password" placeholder="请填写用户密码" class="form-control" data-according-to="id" data-according-data="true" />
                            </div>
                            <div class="form-group">
                                <label for="mobilePhone" >手机</label>
                                <input id="mobilePhone" name="mobilePhone" type="text" placeholder="请填写用户手机" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label for="email">邮箱</label>
                                <input id="email" name="email" type="text" placeholder="请填写用户邮箱" class="form-control"/>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div>
                                <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit">
                                    <strong>提交</strong>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 编辑模态框 end -->
<!-- 关联角色模态框 start -->
<div id="releation-role-form" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 b-r">
                        <h3 class="m-t-none m-b">关联角色</h3>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>角色名</th>
                                <th>角色描述</th>
                                <th>是否关联</th>
                            </tr>
                            </thead>
                            <tbody id="roles">
                            <tr>
                                <td>1</td>
                                <td><span class="pie" style="display: none;">0.52,1.041</span><svg class="peity" height="16" width="16"><path d="M 8 8 L 8 0 A 8 8 0 0 1 14.933563796318165 11.990700825968545 Z" fill="#1ab394"></path><path d="M 8 8 L 14.933563796318165 11.990700825968545 A 8 8 0 1 1 7.999999999999998 0 Z" fill="#d7d7d7"></path></svg></td>
                                <td>Samantha</td>
                                <td class="text-navy"> <i class="fa fa-level-up"></i> 40% </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td><span class="pie" style="display: none;">226,134</span><svg class="peity" height="16" width="16"><path d="M 8 8 L 8 0 A 8 8 0 1 1 2.2452815972907922 13.55726696367198 Z" fill="#1ab394"></path><path d="M 8 8 L 2.2452815972907922 13.55726696367198 A 8 8 0 0 1 7.999999999999998 0 Z" fill="#d7d7d7"></path></svg></td>
                                <td>Jacob</td>
                                <td class="text-warning"> <i class="fa fa-level-down"></i> -20% </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td><span class="pie" style="display: none;">0.52/1.561</span><svg class="peity" height="16" width="16"><path d="M 8 8 L 8 0 A 8 8 0 0 1 14.933563796318165 11.990700825968545 Z" fill="#1ab394"></path><path d="M 8 8 L 14.933563796318165 11.990700825968545 A 8 8 0 1 1 7.999999999999998 0 Z" fill="#d7d7d7"></path></svg></td>
                                <td>Damien</td>
                                <td class="text-navy"> <i class="fa fa-level-up"></i> 26% </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 关联角色模态框 end -->
<div th:include="/common/onload_js :: onloadJS('/system/user/pageSysUser.js')"></div>
</body>
</html>
